{% extends "OAuthAuthorizationBundle:Default:base.html.twig" %}

{% block title %}
    <title>Access Token Test</title>
{% endblock %}

{% block container %}    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin" role="form" id="autorizeForm" method="POST" action="{{ path('o_auth_client_homepage') }}">
                <h3 class="form-signin-heading">Test Client Grant</h3>      
                <div class="form-group">
                    <label for="grantType">Grant Type</label>
                    <input type="text" class="form-control" name="grant_type" id="grant_type" value="client_credentials">
                </div>
                <div class="form-group">
                    <label for="client_id">Client ID</label>
                    <input type="text" class="form-control" id="client_id" name ="client_id" value="T0VGqm9H9X">
                </div>
                <div class="form-group">
                    <label for="client_secret">Client Secret</label>
                    <input type="text" class="form-control" id="client_secret" name ="client_secret" value="pd3ah5tQU8">
                </div>
                <div class="form-group">
                    <label for="redirect_uri">Scope</label>
                    <input type="text" class="form-control" id="scope" name ="scope" value="client">
                </div>
              
                <button type="submit" class="btn btn-success" id="allowaccess">Get Access Token</button>           
            </form>
        </div>        
    </div>
{% endblock %}

