<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="navbar-left">
            <a href="#"> <img style="max-height:150px;" src="{{ asset('bundles/oauthauthorization/images/CSULOGO1.png') }}"></a>  
        </div>
        <div class="navbar-header">
            <div class="container"> 
                <a class="navbar-brand" href="#">CitSci.org</a>
            </div>
        </div>
    </div> 
</div>
